.container-fluid {
  height: 100vh;
  padding-top: 8%
}

.wrapper {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
}

/* forms */
.form-wrapper form{
  align-self: center;
}

label, label.inline {
  display: inline-block;
  width: 100px;
}

input:not(:focus) {
  font-style:italic;
  }

/* buttons */
button {
  margin-top: 5px;
}

/* footer .page-footer {
  height: 100vh;
  margin-top: 300px
} */
