.container-fluid {
  height: 100vh;
  padding-top: 8%
}

.wrapper {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
}

/* forms */
.form-wrapper form{
  align-self: center;
}

/* buttons */
button {
  margin-top: 5px;
}

/* footer .page-footer {
  height: 100vh;
  margin-top: 300px
} */
